<div class="cont">
    <div class= "item">
        <div class="desc">
            <p><strong>El Padrino</strong></p>
        </div>
        <img src="/assets/img1.jpg" alt="" class="item-img">
        <div class="desc">
            <p>Autor: Mario Puzo</p>
        </div>
        <div class="desc">
            <p> Páginas: 480</p>
        </div>
    </div>
    <div class= "item">
        <div class="desc">
            <p><strong>Los Borgia</strong></p>
        </div>
        <img src="/assets/img2.jpg" alt="" class="item-img">
        <div class="desc">
            <p>Autor: Mario Puzo</p>
        </div>
        <div class="desc">
            <p>Páginas: 464</p>
        </div>
    </div>
    <div class= "item">
        <div class="desc">
            <p><strong>Los Sicilianos</strong></p>
        </div>
        <img src="/assets/img3.jpg" alt="" class="item-img">
        <div class="desc">
            <p>Autor: Mario Puzo</p>
        </div>
        <div class="desc">
            <p>Páginas: 512</p>
        </div>
    </div><div class= "item">
        <div class="desc">
            <p><strong>Misery</strong></p>
        </div>
        <img src="/assets/img4.jpg" alt="" class="item-img">
        <div class="desc">
            <p>Autor: Stephen King</p>
        </div>
        <div class="desc">
            <p>Páginas: 376</p>
        </div>
    </div><div class= "item">
        <div class="desc">
            <p><strong>El Misterio de Salem´s Slot</strong></p>
        </div>
        <img src="/assets/img5.jpg" alt="" class="item-img">
        <div class="desc">
            <p>Autor: Stephen King</p>
        </div>
        <div class="desc">
            <p>Páginas: 528</p>
        </div>
    </div><div class= "item">
        <div class="desc">
            <p><strong>La Niebla</strong></p>
        </div>
        <img src="/assets/img6.jpg" alt="" class="item-img">
        <div class="desc">
            <p>Autor: Stephen King</p>
        </div>
        <div class="desc">
            <p>Páginas: 320</p>
        </div>
    </div><div class= "item">
        <div class="desc">
            <p><strong>Metro 2033</strong></p>
        </div>
        <img src="/assets/img7.jpg" alt="" class="item-img">
        <div class="desc">
            <p>Autor: Dmitri Glujovski</p>
        </div>
        <div class="desc">
            <p>Páginas: 544</p>
        </div>
    </div><div class= "item">
        <div class="desc">
            <p><strong>Fundación</strong></p>
        </div>
        <img src="/assets/img 8.jpg" alt="" class="item-img">
        <div class="desc">
            <p>Autor: Isaac Asimov></p>
        </div>
        <div class="desc">
            <p>Páginas: 264</p>
        </div>
    </div><div class= "item">
        <div class="desc">
            <p><strong>Fundación e Imperio</strong></p>
        </div>
        <div class="desc">
            <p>Autor: Isaac Asimov</p>
        </div>
        <img src="/assets/img9.jpg" alt="" class="item-img">
        <div class="desc">
            <p>Autor: Isaac Asimov</p>
        </div>
        <div class="desc">
            <p>Páginas: 336</p>
        </div>
    </div><div class= "item">
        <div class="desc">
            <p><strong>Segunda Fundación</strong></p>
        </div>
        <div class="desc">
            <p>Páginas:</p>
        </div>
        <img src="/assets/img10.jpg" alt="" class="item-img">
        <div class="desc">
            <p>Autor: Isaac Asimov</p>
        </div>
        <div class="desc">
            <p>Páginas: 320</p>
        </div>
    </div>
</div>