*{
    padding : 0px;
    margin: 0px;
    //-webkit-box-sizing: border-box;
    //-moz-box-sizing: border-box;

}

.item-img{
    max-width: 120px;
    max-height: 100%;
    display: block;
    text-align: center;
    //position: relative;
    //left: 120px;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 5px;
    
}

.item{
    width: 70%;
    background-color: white;
    border-style: solid;
    text-align: center;
    //margin: 0px;
}

.cont{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}   

@media screen and (min-width: 590px){
    .cont{
        grid-template-columns: repeat(3,1fr);
    } 
}

@media screen and (min-width: 900px ){
    .cont{
        grid-template-columns: repeat(4,1fr);
    }
}